<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="Magento_Catalog::catalog_inventory">
                        <resource id="Training_Seller::manage" title="Training Seller" sortOrder="990"/>
                    </resource>

                </resource>
                <resource id="Training_Seller::config" title="Training Config" sortOrder="970"/>


            </resource>
        </resources>
    </acl>
</config>
