<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Seller\Api\Data\SellerInterface" type="Training\Seller\Model\Seller"/>
    <preference for="Training\Seller\Api\Data\SellerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Training\Seller\Api\SellerRepositoryInterface" type="Training\Seller\Model\SellerRepository"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="getSeller" xsi:type="object">Training\Seller\Console\Command\GetSeller</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="seller_seller_listing_data_source" xsi:type="string">Training\Seller\Model\ResourceModel\Seller\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Training\Seller\Model\ResourceModel\Seller\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">training_seller</argument>
            <argument name="eventPrefix" xsi:type="string">seller_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">seller_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Training\Seller\Model\ResourceModel\Seller</argument>
        </arguments>
    </type>
</config>
