<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="linkedin_profile_tab" translate="label" sortOrder="200">
            <label>Linkedin Profile</label>
        </tab>
        <section id="linkedin_profile" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Linkedin Profile</label>
            <tab>linkedin_profile_tab</tab>
            <resource>Training_LinkedIn::config</resource>
            <group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="required" translate="label" type="select" sortOrder="8" showInDefault="1">
                    <label>Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="visibility" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Visibility</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
