<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Training_AdminLogs::showlogs"  title="Admin Logs" translate="title" sortOrder="900" >
                    <resource id="Training_AdminLogs::deleteAction" title="Delete Action" translate="title" sortOrder="10"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Training_AdminLogs::configlogs"  title="Config Logs" translate="title" sortOrder="900" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

