<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <AdminLogs>
            <principal>
                <tracking>1</tracking>
            </principal>
            <general>
                <login_activity>1</login_activity>
                <page_visit>1</page_visit>
                <clearlog>7</clearlog>
            </general>
            <module>
                <order>1</order>
                <product>1</product>
                <category>1</category>
                <customer>1</customer>
                <promotion>1</promotion>
                <email>1</email>
                <page>1</page>
                <block>1</block>
                <widget>1</widget>
                <theme>1</theme>
                <system_config>1</system_config>
                <attribute>1</attribute>
                <admin_user>1</admin_user>
                <seo>1</seo>
            </module>
        </AdminLogs>
    </default>
</config>
